@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <section>
        <h1>GeomeTre</h1>
        <h3>- Home of all shapes</h3>
    </section>
    
    <div class="container">
        <br />

        <div id="carousel" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
                <li data-target="#carousel" data-slide-to="3"></li>
                <li data-target="#carousel" data-slide-to="4"></li>
            </ol>

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="../Img/kvadrat.jpg" alt="Kvadrat" width="450" height="340" />
                    <div class="carousel-caption">
                        <h3>Kvadrat</h3>
                    </div>
                </div>


                @*<div class="item">
                    <img src="#" alt="Cirkel" width="450" height="340" />
                    <div class="carousel-caption">
                        <h3>Cirkel</h3>
                    </div>
                </div>

                <div class="item">
                    <img src="#" alt="Triangle" width="450" height="340" />
                    <div class="carousel-caption">
                        <h3>Triangel</h3>
                    </div>
                </div>*@
            </div>


            <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </a>
            <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </a>

        </div>
    </div>
    <section>
        <p>Har du en form du behöver vet arean på? Eller kanske diametern?</p>
        <p>Vi gillar former. Faktiskt så mycket så att vi vill hjälpa er med uträkningarna. </p>
        <p>Klicka på den form du önskar på knapparna längs upp.</p>
    </section>

</div>
