@model GeometriTDD.Geometry.Rectangle;

@{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Rektangel</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/Shapes.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="shapeContainer">
            <header>
                <img src="~/pictures/rektangel.png" alt="Rektangel" class="shapeImg rectangleImg" />
            </header>

            <div class="calculator">
                <div class="numbersForm">
                    <form asp-action="Index">
                        <h3>Kalkylator</h3>
                        <h6>(millimeter)</h6>
                        Ange basen <input type="text" asp-for="Bas" class="inputField" required/>
                        <div class="separator"></div>
                        Ange höjden <input type="text" asp-for="Height" class="inputFieldSmallerMargin" required/>
                        <button type="submit" class="calculateButton">Beräkna</button>
                    </form>
                    <div class="result">
                        <div class="perimeter">
                            <h5>Omkrets</h5>
                            <div class="perimeterDisplay">
                                <p>@ViewData["perimeter"]mm</p>
                            </div>
                        </div>
                        <div class="area">
                            <h5>Area</h5>
                            <div class="areaDisplay">
                                <p>@ViewData["area"]m&#13217;</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div asp-validation-summary="All"></div>
            </div>
        </div>
            <footer class="border-top footer text-muted" id="footer">
                <div class="container buttonFooter">
                    <p>&copy; 2021 - GeomeTre</p>
                </div>
            </footer>
    </body>
</html>

}